Package: abaddon
Version: 0.2.1
Depends: libgtkmm-3.0-1v5, libcurl4-gnutls-dev, libsqlite3-0, libhandy-1-0, libsecret-1-0, libopus0, libsodium23, libspdlog1
Recommends: nlohmann-json3-dev | libssl3
Section: main
Priority: optional
Homepage: https://github.com/uowuo/abaddon
Architecture: amd64
Installed-Size: 248684
Maintainer: borrougagnou <borrougagnou@github.com>
Description: An alternative Discord client with voice support made with C++ and GTK 3 
